@import "tailwindcss";

:root {
  --font-gilroy: 'Gilroy', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-gilroy);
}

.border-gradient-custom {
  border: 9px solid;

  border-image-source: linear-gradient(
    152deg,
     0.95%,
     50.05%,
     99.15%
  );
}

