@import "tailwindcss";

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-gilroy: 'Gilroy', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-gilroy);
}

.border-gradient-custom {
  border: 9px solid;

  border-image-source: linear-gradient(
    152deg,
     0.95%,
     50.05%,
     99.15%
  );
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

